# SPDX-License-Identifier: MIT
# Copyright (c) 2025 Advanced Micro Devices, Inc. All rights reserved.

.venv/
.pip-cache/
_build/
docs-repo-template-main/
results/
build/
rocSHMEM/
*.sif
*.sif.checksum
apptainer/images/
.vscode/
__pycache__/
*.so
*.json
*.proto
*.pftrace
*.log
*.txt
!requirements.txt
slurm_logs*/
redo.sh

!dataset/*
omni*.pdf
slurm*.out

*.egg-info

examples/gemm/results/*
asm/
*.img

.cache/
.local/
.triton/
.pytest_cache/
.ruff_cache/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz

!.devcontainer/devcontainer.json


resources/
gpucore.*
logs/